In [3]:
# Indentacion

print('Hola Mundo')

if 1==2 :
    print("Condicion es correcta")
    print("Condicion1")

print("Salir de IF")

Hola Mundo
Salir de IF

In [8]:
variable1 = 5
variable2 ="Manzana"
variable3 = 3.5

In [10]:
print(variable2)

Manzana

In [11]:
var_compleja = 3.14j

type(var_compleja)

complex

In [12]:
# Listas

var_lista = [3, 5, 7] # lista enteros
var_lista_vacio = [] # lista vacia
var_lista_mixta = [1, "Manzana", 44.4j] # lista mixta
var_lista_anidada = [ 3, "Manzana", [2, 5, 7]]  # lista anidada

In [13]:
var_lista_anidada[1]

'Manzana'

In [15]:
var_lista_anidada[2][1]

5

In [17]:
for elemento in var_lista:
    print(elemento*2)

6
10
14

In [20]:
# Diccionarios
'''
{
'key1': value1,
'key2': value2
}
'''

var_dict = {}
var_dict_int = { 1: 'Manzana', 2: 'Pelota'}
var_dict_mixta = { 1: 34, 'name': 'Juan'} 
var_dict_str = {'name': 'Juan','age': 26}

var_dict = {'emails': ['asdf@mail.com', 'rtyui@mail.com']}


type(var_dict)

dict

In [34]:
print(var_dict_str['name'])
print(var_dict_str['age'])
address = (var_dict_str['address'])

Juan
26

In [ ]:
# var_dict_str.get('address') -> Devuelve None si address no existe 
# var_dict_str['address] -> da error si address no existe

In [28]:
address = (var_dict_str.get('address'))

In [29]:
var_dict_str['address'] = 'LIMA'

In [30]:
print(var_dict_str)

{'name': 'Juan', 'age': 26, 'address': 'LIMA'}

In [32]:
for key in var_dict_str:
    print(key, '-> ', var_dict_str[key])

name ->  Juan
age ->  26
address ->  LIMA

In [ ]:
# Funciones 

def read_table(tabla):
    query = f"SELECT * FROM {tabla}"
    return execute_query(query)

var_prodcutos = read_table('productos')
var_categorias = read_table('categorias')

In [37]:
def suma(a, b):
    sum = a + b
    return sum


var1 = suma(-4, 19)
print(var1)

15